.heading {
  font-size: 2em;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.title {
  font-style: normal;
  font-size: 2em;
}
.atUcsd {
  margin-left: auto;
  position: relative;
}
.atUcsd sub {
  font-size: 0.3em;
  position: absolute;
  bottom: 0;
  left: 100%;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .heading {
    font-size: 1.2em;
  }
}

.description {
  margin: 0 auto;
  max-width: 900px;
}
.description a {
  color: oklch(62.3% 0.214 259.815);
}
.description a:hover {
  text-decoration: underline;
}
